@charset "utf-8";
/* CSS Document */
/*.line_taitou{
	border-bottom: 1px solid #8F8E8E;
}*/
.audit{
	height: 33px;
	width: 90%;
	border-bottom: 1px solid #8F8E8E;
}
.audit ul{
	list-style-type: none;
	margin: 0px;
	border: 0px;
}
.audit li{
	
	margin: 10px 25px 0 0;
	float: left;
	font-family: '楷体';
	text-align: center;
	text-decoration: none;
	background-color: #EEEEEE;
}
.audit li:hover{
	border-bottom: 4px solid #4197D0;/*设置边框线*/
}
.audit a{
	font-size: 19px;
	text-decoration: none;
	display: block;/*display:block - 显示块元素的链接，让整体变为可点击链接区域（不只是文本），它允许我们指定宽度*/
	color: #4197D0;
}