#sDiv {
        text-align: center;
        border: solid 1px;
        width: 300px;
        border-radius: 5px;
        background-color: white;
        background: linear-gradient(to bottom, #FFF, #f15f26);
    }
    
    #t {
        border: solid 1px;
        width: 260px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    input[type=button] {
        border: 0px;
        background-color: white;
        width: 55px;
        height: 30px;
        margin: 2px;
        font-size: 20px;
    }
    
    #equ {
        width: 260px;
        font-size: 30px;
        margin-bottom: 10px;
    }