.daohangmenu ul li {
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.drop-down-menu {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
}

.drop-down-content:hover .drop-down-menu {
    display: inline;
}